#navName {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    /* width: 280px; */
    text-align: center;
}

.navLink {
    font-size: 20px;
    width: 120px;
    text-align: center;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navRow {
    padding: 20px;
    position: relative;
}