.projects {
    margin-top: 3rem;
    font-size: 1.5rem;

    &__item {
        display: block;
        margin: auto;      
    }

    &__item-display {
        height: 50rem;
        background-image: url("../images/social_drinker/social_drinker.png");
        background-size: contain;
    }

    &__item-left {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
        top: 22rem;
        z-index: 1000;
        background-color: black;

        &:hover {
            cursor: pointer;
            background-color: white;
        }
    }

    &__item-right {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
        top: 22rem;
        left: 91.6rem;
        z-index: 1000;
        background-color: black;
        
        &:hover {
            cursor: pointer;
            background-color: white;
        }
    }

    &__item-left:hover > &__item-cursor {
        color: black;
    }

    &__item-right:hover > &__item-cursor {
        color: black;
    }

    &__item-cursor {
        position: relative;
        top: .4rem;
        color: white;
        background-color: transparent;   
    }


    &__links {
        color: royalblue;
    }
}