img {
    width: 80%;
    height: 40em;
}

.user {
    height: 40em;
    position: relative;
}

.textDiv {
    /* line-height: 20em; */
    position: absolute;
    top: 15%;
    bottom: 30%;
    width: 80%;
}

#bio {
    text-align: center;
    font-size: 3.5em;
}

.iconLinks {
    margin-top: 50px;
    text-align: center;
}