<div class="container aboutPage">
    <h1 id="aboutH1">My name is Alex Hand, and I'm a software developer.</h1>
    <p class="aboutP col-md-8 col-md-offset-2">I'm a full-stack developer based in the Twin Cities. Currently I'm working on a blog dedicated to my love of learning 
        new technology, as well as working on various IoT and web application projects.
    </p>
    <p class="aboutP col-md-8 col-md-offset-2">I'm also passionate about craft beer, European soccer, and heavy metal. If you'd like to talk to me about any of those
        things, or see what I'm working on currently, feel free to contact me by using my links on my home page.
    </p>

</div>