<div class="container">
    <div class="card">
        <div class="cardContainer">
            <h4>
                <b>Send A Message</b>
            </h4>
            <div class="form-group">
                <label for="guestEmail">Email</label>
                <input type="text" autofocus required id="guestEmail" placeholder="email" class="form-control">
                <label for="emailSubject">Subject</label>
                <input type="text" required id="emailSubject" placeholder="subject" class="form-control">
                <label for="emailBody">Message</label>
                <textarea required id="emailBody" placeholder="message" class="form-control" rows="10"></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
        </div>
    </div>
</div>