<div class="projects">
    
     <div class="projects__item">
        <div class="card">
            <div class="projects__item-display">
                <input checked type="radio" class="projects__radio-input" id="sdOne" name="drinker">
                <div class="projects__item-group" id="login">
                <img class="projects__item-slide" src="../images/social_drinker/login.png" alt="Social Drinker">
                    <label for="sdFour" class="projects__radio-label projects__item-left">
                            <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="sdTwo" class="projects__radio-label projects__item-right">
                            <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="sdTwo" name="drinker">
                <div class="projects__item-group" id="sd">
                <img class="projects__item-slide" src="../images/social_drinker/social_drinker.png" alt="Social Drinker">
                    <label for="sdOne" class="projects__radio-label projects__item-left">
                            <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="sdThree" class="projects__radio-label projects__item-right">
                            <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="sdThree" name="drinker">
                <div class="projects__item-group" id="furious">
                    <img class="projects__item-slide" src="../images/social_drinker/furious.png" alt="Furious">
                    <label for="sdTwo" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="sdFour" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="sdFour" name="drinker">
                <div class="projects__item-group" id="search">
                    <img class="projects__item-slide" src="../images/social_drinker/search_page.png" alt="Search">
                    <label for="sdThree" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="sdOne" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
            </div>
            
            <div class="cardContainer">
                <h4>
                    <b>Social Drinker</b>
                </h4>
                <span> - </span>
                <a class="projects__links" href="https://github.com/AlexJHand/SocialDrinker">Link</a>
                <p>[Prime Solo Project] An application to help users remember and track which beers they have consumed, as well as their
                    opinions about them. Social Drinker allows them to search by beer name or brewery, and then lets them input a
                    rating as well as a comment.
                </p>
                <h4>
                    <b>Technologies Used</b>
                </h4>
                <p>HTML5, CSS3, AngularJS, NodeJS, Express, Passport, PostgreSQL, BreweryDB api, Sweet Alerts, Google Fonts.</p>
            </div>
        </div>
    </div>
    
    <div class="projects__item">
        <div class="card">
            <div class="projects__item-display">

                <input checked type="radio" class="projects__radio-input" id="mcmOne" name="mcm">
                <div class="projects__item-group" id="landing">
                    <img class="projects__item-slide" src="../images/mcm/MCMLanding.png" alt="MCM Landing">
                    <label for="mcmFive" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="mcmTwo" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="mcmTwo" name="mcm">
                <div class="projects__item-group" id="intake">
                    <img class="projects__item-slide" src="../images/mcm/MCMIntake.png" alt="MCM Intake">
                    <label for="mcmOne" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="mcmThree" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="mcmThree" name="mcm">
                <div class="projects__item-group" id="edit">
                    <img class="projects__item-slide" src="../images/mcm/MCMEdit.png" alt="MCM Edit">
                    <label for="mcmTwo" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="mcmFour" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="mcmFour" name="mcm">
                <div class="projects__item-group" id="global">
                    <img class="projects__item-slide" src="../images/mcm/MCMGlobal.png" alt="MCM Global">
                    <label for="mcmThree" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="mcmFive" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="mcmFive" name="mcm">
                <div class="projects__item-group" id="annuak">
                    <img class="projects__item-slide" src="../images/mcm/MCMAnnual.png" alt="MCM Annual">
                    <label for="mcmFour" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="mcmOne" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
            </div>

            <div class="cardContainer">
                <h4>
                    <b>Minnesota Missing Children</b>
                </h4>
                <span> - </span>
                <a class="projects__links" href="https://github.com/mcmdevproject/mcmreporting">Link</a>
                <p>[Prime Group Project] An application built for Missing Children Minnesota, to allow case workers to fill out an intake
                    form for a new case, which will then be able to be printed to a pdf. In addition to this, a portion of the data
                    from the form will be stored in a database for reporting purposes.</p>
                <h4>
                    <b>Technologies Used</b>
                </h4>
                <p>HTML5, CSS3, AngularJS, NodeJS, Express, Passport, PostgreSQL, Bootstrap, Angular Materials, Sweet Alerts, and ChartsJS.</p>
            </div>
        </div>
    </div>
    
    <div class="projects__item">
        <div class="card">
            <img src="../images/blog.png" alt="Blog" style="width: 100%">
            <div class="cardContainer">
                <h4><b>Blog</b></h4><span> - </span><a class="projects__links" href="https://github.com/AlexJHand/Blog">Link</a>
                <p>A simple MEAN stack blog.</p>
                <h4><b>Technologies Used</b></h4>
                <p>HTML5, CSS3, AngularJS, NodeJS, Express, and MongoDB.</p>
            </div>
        </div>
    </div>

    <div class="projects__item">
        <div class="card">
            <div class="projects__item-display">

                <input checked type="radio" class="projects__radio-input" id="galleryOne" name="gallery">
                <div class="projects__item-group" id="galleryMain">
                    <img class="projects__item-slide" src="../images/photo_gallery/galleryMain.png" alt="Gallery Main">
                    <label for="galleryTwo" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="galleryTwo" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
                <input type="radio" class="projects__radio-input" id="galleryTwo" name="gallery">
                <div class="projects__item-group" id="galleryMain">
                    <img class="projects__item-slide" src="../images/photo_gallery/galleryDescriptions.png" alt="Gallery Descriptions">
                    <label for="galleryOne" class="projects__radio-label projects__item-left">
                        <div class="projects__item-cursor">&#10094;</div>
                    </label>
                    <label for="galleryOne" class="projects__radio-label projects__item-right">
                        <div class="projects__item-cursor">&#10095;</div>
                    </label>
                </div>
            </div>

            <div class="cardContainer">
                <h4><b>Photo Gallery Assignment</b></h4><span> - </span><a class="projects__links" href="https://github.com/AlexJHand/Photo-Gallery-Assignment">Link</a>
                <p>[Prime Week 4 Assignment] This application is a display of significant photos and related comments from my life and lets
                users select whether or not they "like" each photo.</p>
                <h4><b>Technologies Used</b></h4>
                <p>HTML5, CSS3, AngularJS, NodeJS, Express, and Bootstrap.</p>
            </div>
        </div>
    </div>
</div>