<div class="projects">
    <div class="projects__item">
        <div class="card">
            <div class="projects__item-display">
                <!-- <img class="projects__item-slide" src="../images/social_drinker/login.png" alt="Social Drinker" style="width: 100%" ng-model="rc.sdLogin">
                <img class="projects__item-slide" src="../images/social_drinker/social_drinker.png" alt="Social Drinker" style="width: 100%" ng-model="rc.sdMain">
                <img class="projects__item-slide" src="../images/social_drinker/furious.png" alt="Social Drinker" style="width: 100%" ng-model="rc.sdFurious">
                <img class="projects__item-slide" src="../images/social_drinker/search_page.png" alt="Social Drinker" style="width: 100%" ng-model="rc.sdSearch"> -->

                <!-- <div class="projects__item-bottommiddle" style="width:100%"> -->
                    <!-- <div class="projects__item-left" ng-click="rc.plusDivs(-1)">
                        <div class="projects__item-cursor">&#10094;</div>
                    </div>
                    <div class="projects__item-right" ng-click="rc.plusDivs(1)">
                        <div class="projects__item-cursor">&#10095;</div>
                    </div> -->
                    <!-- <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span> -->
                <!-- </div> -->

            </div>
            
            <div class="cardContainer">
                <h4>
                    <b>Social Drinker</b>
                </h4>
                <span> - </span>
                <a class="projects__links" href="https://github.com/AlexJHand/SocialDrinker">Link</a>
                <p>[Prime Solo Project] An application to help users remember and track which beers they have consumed, as well as their
                    opinions about them. Social Drinker allows them to search by beer name or brewery, and then lets them input a
                    rating as well as a comment.
                </p>
                <h4>
                    <b>Technologies Used</b>
                </h4>
                <p>HTML5, CSS3, AngularJS, NodeJS, Express, Passport, PostgreSQL, BreweryDB api, Sweet Alerts, Google Fonts.</p>
            </div>
        </div>
    </div>
    
    <div class="projects__item">
        <div class="card">
            <img src="../images/mcm.png" alt="Minnesota Missing Children" style="width: 100%">
            <div class="cardContainer">
                <h4>
                    <b>Minnesota Missing Children</b>
                </h4>
                <span> - </span>
                <a class="projects__links" href="https://github.com/mcmdevproject/mcmreporting">Link</a>
                <p>[Prime Group Project] An application built for Missing Children Minnesota, to allow case workers to fill out an intake
                    form for a new case, which will then be able to be printed to a pdf. In addition to this, a portion of the data
                    from the form will be stored in a database for reporting purposes.</p>
                <h4>
                    <b>Technologies Used</b>
                </h4>
                <p>HTML5, CSS3, AngularJS, NodeJS, Express, Passport, PostgreSQL, Bootstrap, Angular Materials, Sweet Alerts, and ChartsJS.</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <img src="../images/blog.png" alt="Blog" style="width: 100%">
        <div class="cardContainer">
            <h4><b>Blog</b></h4><span> - </span><a class="projects__links" href="https://github.com/AlexJHand/Blog">Link</a>
            <p>A simple MEAN stack blog.</p>
            <h4><b>Technologies Used</b></h4>
            <p>HTML5, CSS3, AngularJS, NodeJS, Express, and MongoDB.</p>
        </div>
    </div>
    <div class="card">
        <img src="../images/photo_gallery.png" alt="Photo Gallery" style="width: 100%">
        <div class="cardContainer">
            <h4><b>Photo Gallery Assignment</b></h4><span> - </span><a class="projects__links" href="https://github.com/AlexJHand/Photo-Gallery-Assignment">Link</a>
            <p>[Prime Week 4 Assignment] This application is a display of significant photos and related comments from my life and lets
            users select whether or not they "like" each photo.</p>
            <h4><b>Technologies Used</b></h4>
            <p>HTML5, CSS3, AngularJS, NodeJS, Express, and Bootstrap.</p>
        </div>
    </div>
</div>