<div class="container">
    <!-- <div>{{uc.user.data}}</div> -->
    <!-- <div>{{uc.user.data.login}}</div> -->
    <div class="row userRow">
        <img class="col-md-6" src="images/Alex_Hand.jpg">
        <div class="col-md-6 user">
            <div class="textDiv">
                <!-- <h2>Alex Hand</h2> -->
                <div id="bio">Software Developer</div>
                <div class="row iconLinks">
                    <a class="col-md-3" href="https://github.com/AlexJHand">
                        <i class="fa fa-github fa-5x" aria-hidden="true"></i>
                    </a>
                    <a class="col-md-3" href="https://www.linkedin.com/in/alexjhand/">
                        <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
                    </a>
                    <a class="col-md-3" href="https://twitter.com/alexjhand">
                        <i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                    </a>
                    <a class="col-md-3" href="mailto:alex.j.hand@gmail.com">
                        <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>