<div class="user">
    <!-- <div>{{uc.user.data}}</div> -->
    <!-- <div>{{uc.user.data.login}}</div> -->
    <div class="row">
        <div class="col-1-of-2">
            <img src="images/Alex_Hand.jpg" class="user__img">
        </div>

        <div class="col-1-of-2">
            <div class="user__text">
                <!-- <h2>Alex Hand</h2> -->
                <h3 class="user__bio">Software Developer</h3>
                <div class="row">
                    <ul class="user__links">
                        <li class="user__icon">
                            <a href="https://github.com/AlexJHand">
                                <i class="fa fa-github fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="user__icon">
                            <a href="https://www.linkedin.com/in/alexjhand/">
                                <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="user__icon">
                            <a href="https://twitter.com/alexjhand">
                                <i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="user__icon">
                            <a href="/email">
                                <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

